In [23]:
import pandas as pd
import os

In [24]:
# checks if file is relevant for dataset
def is_relevant_file(name, root):
    return name[-3:] == 'txt' and root[-3:] == 'pos' or root[-3:] == 'neg'

# returns the dataset type for a given root
def get_dataset_type(root):
    if 'test' in root:
        return 'test'
    elif 'train' in root:
        return 'train'
    else:
        print("na")

In [25]:
data = []
path = 'aclImdb' # insert correct path for folder aclImdb

In [26]:
for root, dirs, files in os.walk(path):
    for i,name in enumerate(files):
        row = {'name': None, 'text': None, 'dataset': None, 'label': None}
        if is_relevant_file(name, root):
            with open(os.path.join(root, name), encoding='utf8') as f:
                row['name'] = name
                row['text'] = f.read()
                row['dataset'] = get_dataset_type(root)
                row['label'] = root[-3:]
                data.append(row)

In [27]:
df = pd.DataFrame.from_records(data)
df

,name,text,dataset,label
0,0_2.txt,Once again Mr. Costner has dragged out a movie...,test,neg
1,10000_4.txt,This is an example of why the majority of acti...,test,neg
2,10001_1.txt,"First of all I hate those moronic rappers, who...",test,neg
3,10002_3.txt,Not even the Beatles could write songs everyon...,test,neg
4,10003_3.txt,Brass pictures (movies is not a fitting word f...,test,neg
...,...,...,...,...
49995,9998_9.txt,"Seeing as the vote average was pretty low, and...",train,pos
49996,9999_8.txt,"The plot had some wretched, unbelievable twist...",train,pos
49997,999_10.txt,I am amazed at how this movie(and most others ...,train,pos
49998,99_8.txt,A Christmas Together actually came before my t...,train,pos
49999,9_7.txt,Working-class romantic drama from director Mar...,train,pos

In [34]:
# save to csv file :)
df.to_csv('dataset.csv', encoding='utf8')